/* Profile Icon Button */
.profile-button__icon {
    background: none;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .profile-button__icon:hover {
    transform: scale(1.1);
    color: blue;
  }
  
  /* Dropdown Menu */
  .profile-button__dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    list-style-type: none;
    margin: 0;
    z-index: 10;
  }
  
  .profile-button__item {
    font-size: 16px;
    color: black;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .profile-button__item:hover {
    color: blue;
  }
  
  .profile-button__logout {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .profile-button__logout:hover {
    background-color: #e60000;
    transform: scale(1.05);
  }
  
  .profile-button__logout:active {
    transform: scale(0.98);
  }
  